@*
Компонент библиотеки Guap.Net10.Web.
Код не предназначен для редактирования и компиляции во время выполнения!
*@
@{
    var ver1 = 2026061501;
}
<!DOCTYPE html>
<html lang="@Current.Culture" class="h-100">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    @Current.Meta.Render()
    <title>@Current.BrowserTitle()</title>
    <link href="https://src.guap.ru/themes/app4/dist/theme.min.css?@ver1" rel="stylesheet" />
    @await RenderSectionAsync("HeadSection", false)

</head>

<body class="d-flex flex-column h-100">

    <span id="totop" onclick="moveToTop();"><i class="bi-chevron-up"></i></span>


    <header id="site_header" class="py-3 bg-light">
        <site-container>
            SITE HEADER
        </site-container>
    </header>


    <header id="node_header" class="py-3 border-bottom">
        <node-container>
            NODE HEADER
        </node-container>
    </header>


    <main role="main">

        <page-container class="my-3">
            @RenderBody()
            <environment names="Development">
                <partial name="/Areas/Ans/Helpers/DebugCurrent.cshtml" />
            </environment>
        </page-container>

    </main>


    <div class="mt-auto">


        <footer id="node_footer" class="py-3 border-top">
            <node-container>
                NODE FOOTER
            </node-container>
        </footer>


        <footer id="site_footer" class="py-3 bg-light">
            <site-container>
                SITE FOOTER
            </site-container>
        </footer>


    </div>


    <script defer src="https://src.guap.ru/themes/app4/dist/theme.min.js?@ver1"></script>
    @await RenderSectionAsync("Scripts", false)

</body>

</html>
